body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
  background-color: black;
}

.hidden {
  display: none;
}

#text #num {
  color: orange;
  font-weight: 200;
}

#text {
  color: #ffffff;
}

.container h1 {
  color: #f7091d;
}

.container label {
  color: #ffffff;
}

.container {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  margin: auto;
}

input[type="text"] {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #a6a4a4;
  width: calc(100% - 22px);
}

button {
  background-color: #f7091d;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  margin-top: 6px;
  width: calc(100% - 22px);
}

button:hover {
  background-color: #f16b7f;
}

#result {
  margin: 10px;
  font-size: 20px;
  color: #ffffff;
  z-index: 2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
  position: absolute; /* Add position:absolute */
  top: 50%; /* Add top: 50% */
  left: 50%; /* Add left: 50% */
  transform: translate(-50%, -50%); /* Add translate(-50%, -50%) */
} 

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.sweet-title {
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
}

.sweet-title span {
  display: block;
  position: relative;
}

.sweet-title span:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
  z-index: 1;
}

.sweet-title span:nth-child(1) {
  padding-right: 2.25rem;
}

.sweet-title span:nth-child(2) {
  padding-left: 2.25rem;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.gradient {
  background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-family: 'Pacifico', cursive;
  animation: move 1s infinite;
}

@keyframes move {
  50% {
    background-image: linear-gradient(262deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
  }
}